@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




<p>Use this page to detail your site's privacy policy.</p>
<div class="row">
    <div class="col s2 teal lighten-4">teal lighten-4</div>
    <div class="col s2 teal lighten-1">teal lighten-1</div>
    <div class="col s2 white-text teal">teal</div>
    <div class="col s2 white-text teal darken-1">teal darken-1</div>
    <div class="col s2 white-text teal darken-2">teal darken-2</div>
    <div class="col s2 white-text teal darken-4">teal darken-4</div>
</div>
<div class="row">
    <div class="col s2 purple lighten-2">purple lighten-2</div>
    <div class="col s2 purple lighten-1">purple lighten-1</div>
    <div class="col s2 white-text purple">purple</div>
    <div class="col s2 white-text purple darken-1">purple darken-1</div>
    <div class="col s2 white-text purple darken-3">purple darken-3</div>
    <div class="col s2 white-text purple darken-4">purple darken-4</div>
</div>