@model Portfel.Data.Data.Transakcja

@*@{
    ViewData["Title"] = "Create";
}*@

<h4>Transakcja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DodajTransakcje" asp-controller="Uzytkownik">
              
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input type="hidden" asp-for="KontoId" />
            <div class="form-group">
                @*  <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>*@
            </div>
                   <div class="form-group">
                <label asp-for="RodzajTransakcjiId" class="control-label"></label>
                <select asp-for="RodzajTransakcjiId" class ="form-control" asp-items="ViewBag.RodzajTransakcjiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Waluta" class="control-label"></label>
                <input asp-for="Waluta" class="form-control"/>
                <span asp-validation-for="Waluta" class="text-danger"></span>
            </div>
                 <div class="form-group">
                <label asp-for="SymbolGieldowyId" class="control-label"></label>
                <select asp-for="SymbolGieldowyId" class ="form-control" asp-items="ViewBag.SymbolGieldowyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Kwota" class="control-label"></label>
                <input asp-for="Kwota" class="form-control"/>
                <span asp-validation-for="Kwota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ilosc" class="control-label"></label>
                <input asp-for="Ilosc" class="form-control"/>
                <span asp-validation-for="Ilosc" class="text-danger"></span>
            </div>
                   <div class="form-group">
                <label asp-for="RodzajOplatyId" class="control-label"></label>
                <select asp-for="RodzajOplatyId" class ="form-control" asp-items="ViewBag.RodzajOplatyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Komentarz" class="control-label"></label>
                <input asp-for="Komentarz" class="form-control"/>
                <span asp-validation-for="Komentarz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
