@model DaneLogowania
@{
    //Model.RedirectUrl = ViewData["ReturnUrl"]?.ToString() ?? string.Empty;
}
@{
    //ViewData["Title"] = "Logowanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
<section class="odleglosc">
  <div >
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="tytul_logowanie">Zaloguj się do konta</h2>
                <h3 class="naglowek_logowanie"> Nie masz konta? <a asp-action="StronaRejestracji">Zarejestruj się</a> </h3>
                <form asp-action="Logowanie" asp-controller="Uzytkownik" >
                    <div class="form mb-4">
                        <input type="text" asp-for="Email" placeholder="Email" id="form3Example1cg" class="form-control form-control-lg"  />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form mb-4">
                        <input type="password" asp-for="Haslo" placeholder="Hasło" id="form3Example3cg" class="form-control form-control-lg" />
                        <span asp-validation-for="Haslo"></span>
                    </div>
                    <input data-val="true" data-val-required="The RedirectUrl field is required." id="RedirectUrl" name="RedirectUrl" type="hidden" value="@(ViewData["ReturnUrl"]?.ToString() ?? "")" />

                    <div class="d-flex justify-content-center">
                        <input type="submit" value="Zaloguj" class="myButton" />
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      @*  @{
            <script type="text/javascript">
        var viewBagValue = "@((string)ViewBag.loginFailed)"
        if (viewBagValue != null && viewBagValue != '') {
            document.querySelector('#loginFailedMsg').innerHTML = viewBagValue;
        }
            </script>
        }

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}*@
<!-- MDB -->


<br/>
<br/><br/>
<br/>