@*
@{
    ViewData["Title"] = "Rejestracja";
    Layout = "Index";
}*@

@model Portfel.Data.Data.Uzytkownik

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact" class="contact">
    <div>
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;   border-color: white;
                                             box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);">
                        <div class="card-body p-5">
                            <div class="info-item d-flex">
                                <i class="bi bi-person-add flex-shrink-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                                        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                                    </svg>

                                </i>
                                <div>
                                    <h4>Zarejestruj się</h4>
                                    <p>Czy masz już portfel? <a asp-action="StronaLogowania" style="color: white">Zaloguj się</a> </p>
                                </div>
                            </div><!-- End Info Item -->
                            <form asp-action="Create">
                                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                                <div class="form mb-4">
                                    @* <label asp-for="Imie" class="form-label" for="form3Example1cg">Imię</label>*@
                                    <input asp-for="Imie" type="text" placeholder="Imię" id="form3Example1cg" class="form-control form-control-lg"/>
                                    <span asp-validation-for="Imie"></span>
                                </div>
                                <div class="form mb-4">
                                    @*    <label asp-for="Email" class="form-label" for="form3Example1cg"></label>*@
                                    <input asp-for="Email" type="text" placeholder="Email" id="form3Example3cg" class="form-control form-control-lg"/>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form mb-4">
                                    @*      <label asp-for="Haslo" class="form-label" for="form3Example1cg">Hasło</label>*@
                                    <input asp-for="Haslo" type="password" placeholder="Hasło" id="form3Example4cg" class="form-control form-control-lg"/>
                                    <span asp-validation-for="Haslo" class="text-danger"></span>
                                </div>
                                <div class="form mb-4">
                                    @*     <label class="form-label" for="form3Example1cg">Powtórz hasło</label>*@
                                    <input type="password" placeholder="Powtórz hasło" class="form-control form-control-lg" id="powtorzHaslo" name="powtorzHaslo">

                                </div>
                                <p>Rejestrując się, potwierdzam, że przeczytałem(-am) i akceptuję Warunki korzystania z Portfela. Przyjmuję również do wiadomości, że Portfel będzie od czasu do czasu wysyłać mi wiadomości marketingowe i że w każdej chwili mogę wyłączyć te powiadomienia w ustawieniach mojego konta. Zarządzamy danymi osobowymi w sposób określony w naszej Informacji o ochronie prywatności.</p>
                                <div  class="d-flex justify-content-center">
                                    <input id="re3"  type="submit" value="Zarejestruj się" style="background: var(--color-primary); border: 0; padding: 14px 45px; color: #fff; transition: 0.4s; border-radius: 50px; margin-top: 8px;"/>
                                </div>
                              @*  <a id = "rejestracja" class="btn-get-started"  type="submit" value="Zarejestruj się" style="margin-left: 5%">Zarejestruj się</a>*@
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<br/><br/>
<br/>