@*
@{
    ViewData["Title"] = "Rejestracja";
    Layout = "Index";
}*@

@model Portfel.Data.Data.Uzytkownik

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="odleglosc">
    <div>
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="tytul_logowanie">Zarejestruj się</h2>
                            <h3 class="naglowek_logowanie">Czy masz już portfel? <a asp-action="StronaLogowania">Zaloguj się</a></h3>
                            <form asp-action="Create">
                               @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                                <div class="form mb-4">
                                   @* <label asp-for="Imie" class="form-label" for="form3Example1cg">Imię</label>*@
                                    <input asp-for="Imie" type="text" placeholder="Imię" id="form3Example1cg" class="form-control form-control-lg"/>
                                    <span asp-validation-for="Imie" ></span>
                                </div>
                                <div class="form mb-4">
                                @*    <label asp-for="Email" class="form-label" for="form3Example1cg"></label>*@
                                    <input asp-for="Email" type="text" placeholder="Email" id="form3Example3cg" class="form-control form-control-lg"/>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form mb-4">
                              @*      <label asp-for="Haslo" class="form-label" for="form3Example1cg">Hasło</label>*@
                                    <input asp-for="Haslo" type="password" placeholder="Hasło" id="form3Example4cg" class="form-control form-control-lg"/>
                                    <span asp-validation-for="Haslo" class="text-danger"></span>
                                </div>
                                <div class="form mb-4">
                               @*     <label class="form-label" for="form3Example1cg">Powtórz hasło</label>*@
                                    <input type="password" placeholder="Powtórz hasło" class="form-control form-control-lg" id="powtorzHaslo" name="powtorzHaslo">

                                </div>
                                <p>Rejestrując się, potwierdzam, że przeczytałem(-am) i akceptuję Warunki korzystania z Portfela. Przyjmuję również do wiadomości, że Portfel będzie od czasu do czasu wysyłać mi wiadomości marketingowe i że w każdej chwili mogę wyłączyć te powiadomienia w ustawieniach mojego konta. Zarządzamy danymi osobowymi w sposób określony w naszej Informacji o ochronie prywatności.</p>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Zarejestruj się" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"/>
                                </div>

                            </form>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<br/><br/>
<br/>