@model Portfel.Data.Data.Transakcja

@{
    ViewData["Title"] = "Create";
}
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Utwórz transakcję</h1>
                            </div>
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                   
                                    <select asp-for="KontoId" class="form-control" asp-items="ViewBag.KontoId"></select>
                                </div>
                                <div class="form-group">
                                   
                                    <input asp-for="Date" class="form-control form-control-user" id="exampleFirstName" placeholder="Data utworzenia" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                   
                                    <select asp-for="RodzajTransakcjiId" class="form-control" asp-items="ViewBag.RodzajTransakcjiId"></select>
                                </div>
                                <div class="form-group">
                                   
                                    <input asp-for="Waluta" class="form-control form-control-user" placeholder="Waluta" />
                                    <span asp-validation-for="Waluta" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                   
                                    <select asp-for="SymbolGieldowyId" class="form-control" asp-items="ViewBag.SymbolGieldowyId"></select>
                                </div>
                                <div class="form-group">
                                   
                                    <input asp-for="Kwota" class="form-control form-control-user"  placeholder="Kwota"/>
                                    <span asp-validation-for="Kwota" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                   
                                    <input asp-for="Ilosc" class="form-control form-control-user"  placeholder="Ilość" />
                                    <span asp-validation-for="Ilosc" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                  
                                    <select asp-for="RodzajOplatyId" class="form-control" asp-items="ViewBag.RodzajOplatyId"></select>
                                </div>
                                <div class="form-group">
                                    
                                    <input asp-for="Komentarz" class="form-control form-control-user"  placeholder="Komentarz"/>
                                    <span asp-validation-for="Komentarz" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Utwórz transakcję" class="btn btn-primary btn-user btn-block" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
