html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.my-settings {
    --cfg-pubkey: '961967585fccc3291898';
    /* all available settings https://uploadcare.github.io/blocks/solutions/file-uploader/#configuration */
}
