@model Portfel.Data.Data.Aktualnosc

@{
    ViewData["Title"] = "Dodaj aktualności";
}
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Utwórz aktualność</h1>
                            </div>
                            <form enctype="multipart/form-data" asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <!--  <div class="row">
                                    <div class="form-group">

                                        <input asp-for="Pozycja" class="form-control form-control-user" placeholder="Pozycja" />
                                        <span asp-validation-for="Pozycja" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                    -->
                                <div class="row">
                                    <div class="form-group">

                                        <select asp-for="Pozycja" class="form-control form-control-user" placeholder="Pozycja">
                                            <option>Aktualnosc</option>
                                            <option>Post</option>
                                            <span asp-validation-for="Pozycja" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">

                                        <input asp-for="Tytul" class="form-control form-control-user" placeholder="Tytuł" />
                                        <span asp-validation-for="Tytul" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea rows="5" cols="33" asp-for="Tresc" class="form-control form-control-user" placeholder="Treść">
                        </textarea>
                                            <span asp-validation-for="Tresc" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <input type="hidden" id="FotoUrl" name="FotoUrl" class="form-control form-control-user" />
                                    </div>
                                </div>
                                    
                                <input type="hidden" role="uploadcare-uploader" data-public-key="961967585fccc3291898" data-system-dialog="true" />
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Aktywna" /> @Html.DisplayNameFor(model => model.Aktywna)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Utwórz aktualność" class="btn btn-primary btn-user btn-block" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>document.addEventListener('DOMContentLoaded', () => {
            var input = document.getElementsByClassName("custom-file-input")[0];
            var label = document.getElementsByClassName("custom-file-label")[0];
            input.onchange = (event) => {
                label.innerHTML = event.target.files[0].name;
            }

        });</script>

    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js"></script>


    <script>UPLOADCARE_LOCALE = "pl"</script>
    <script>
        const widget = uploadcare.SingleWidget("[role=uploadcare-uploader]");

        widget.onUploadComplete(fileInfo => {

            cdnUrl = fileInfo.cdnUrl;
            document.getElementById('FotoUrl').value = cdnUrl;
    });
    </script>


}